*,
::before,
::after {
  box-sizing: border-box;
}
body {
  background-color: rgb(147, 147, 219);
}

/* adjust grid-templates to fix layout in all sections */
.container {
  display: grid;
  grid-template: 1fr 14fr / 1fr 3fr;
  gap: 5px;
}

/*#region header */
.header {
  border: 2px solid green;
  grid-area: 1/2/2/-1;
  display: grid;
  grid-template: 1fr 2fr/ 2fr 1fr;
  max-height: 200px;
}
.search {
  display: grid;
  grid-template: 1fr/0.2fr 2fr;
  max-height: 100px;
}
.search > input {
  max-height: 32px;
  border-radius: 20px;
}
.search > object {
  max-width: 32px;
  grid-area: 1/1/2/2;
}
.user-profile {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  max-height: 100px;
  justify-items: center;
}
.user-profile > img {
  border-radius: 50%;
  border: 2px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 64px;
  min-height: 64px;
  width: auto;
  height: auto;
}
.greeting {
  display: grid;
  height: 100px;
  grid-area: 2/1/3/2;
  grid-template: 1fr/1fr 2fr;
}
.greeting > img {
  justify-self: center;
  border-radius: 50%;
  border: 2px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 96px;
  min-height: 96px;
  width: min-content;
  height: auto;
  grid-area: 1/1/3/2;
}
.user-actions {
  text-align: right;
}
.user-actions > button {
  border-radius: 20px;
  width: 75px;
  background-color: pink;
  border: none;
  box-shadow: 5px 2px 2px grey;
  margin: 3%;
  padding: 8px 5px;
  font-weight: bold;
}
/*#endregion header */
/*#region main */
.main-content {
  border: 2px solid yellow;
  display: grid;
  grid-template: 1fr 1fr/ 2fr 1fr;
  max-height: fit-content;
}
.main-content > div > h2 {
  grid-area: 1/1/2/-1;
}
.user-projects-container {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 2fr);
  max-height: 1vh;
}
.user-projects-container > h2 {
  margin: 20px;
}
.user-project {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  max-height: 300px;
  border-radius: 10px;
  border-left: 5px solid purple;
  margin: 20px;
  padding: 10px;
  background-color: aliceblue;
}
.user-project > h3 {
  grid-area: 1/1/2/3;
  max-height: min-content;
}
.user-project > p {
  grid-area: 2/1/3/3;
}
.user-interaction {
  grid-area: 3/2/-1/3;
  display: grid;
  grid-template: 1fr/repeat(3,1fr);
}
.user-interaction > object {
  max-width: 32px;
}

.announcements-container {
  display: grid;
  grid-area: 1/2/3/3;
  max-height: 500px;
  border-radius: 10px;
}

.announcements-container > h2 {
  margin: 20px;
  
}
.announcements-container > div {
  background-color: aliceblue;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.trending-container {
  display: grid;
  grid-area: 2/2/3/3;
  border-radius: 10px;
  max-height: 600px;
}
.trending-container > h2 {
  margin: 20px;
}
.trending-container > div {
  background-color: aliceblue;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
.trending-user{
  display: grid;
  grid-template: span 2fr / 1fr 1fr;
  /* grid-row: span 2fr; */
}
.trending-user > img {
  border-radius: 50%;
  border: 2px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 64px;
  min-height: 64px;
  width: auto;
  height: auto;
  grid-area: 1/1/-1/2;
  justify-self: center;
}
.trending-user >h4{
  grid-area: 1/2/2/3;
}
.trending-user > p{
  grid-area: 2/2/3/3;

}
.user-profile > object {
  max-width: 32px;
}
/*#endregion main */
/*#region sidebar */
.side-bar {
  border: 2px solid red;
  grid-area: 1/1/3/2;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 2fr;
  /* this max height is causing the box to be too small */
  max-height: 1vh;
}
.side-bar > h1 {
  max-height: 100px;
}
.side-bar > object {
  max-width: 64px;
  justify-self: center;
  align-self: center;
}

.side-bar > .side-bar-list.top {
  list-style: none;
  display: grid;
  grid-template: repeat(6, 1fr) / 1fr 1fr;
  grid-column: span 2;
  max-width: 225px;
}
.side-bar > .side-bar-list.bottom {
  list-style: none;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  grid-column: span 2;
  max-width: 225px;
}
.side-bar > ul > div > object {
  max-width: 32px;
  grid-area: 2/1/-1/2;
  margin-bottom: 10px;
}
.side-bar > ul > div > li {
  font-weight: bold;
}
/*#endregion sidebar */
/* body > div > div.side-bar > ul > div.list-object.home{
grid-area: 1/1/2/3;
}
body > div > div.side-bar > ul > div.list-object.profile{
grid-area: 2/1/3/3;
}
body > div > div.side-bar > ul > div.list-object.messages{
grid-area: 3/1/4/3;
} */
/*#region grid list */
.list-object {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}
.list-object.home {
  grid-area: 1/1/2/3;
}

.list-object.profile {
  grid-area: 2/1/3/3;
}

.list-object.message {
  grid-area: 3/1/4/3;
}

.list-object.history {
  grid-area: 4/1/5/3;
}

.list-object.tasks {
  grid-area: 5/1/6/3;
}

.list-object.communities {
  grid-area: 6/1/7/3;
}

.list-object.settings {
  grid-area: 7/1/8/3;
}

.list-object.support {
  grid-area: 8/1/9/3;
}

.list-object.privacy {
  grid-area: 9/1/10/3;
}

.list-object.home > object {
  grid-area: 1/1/2/2;
}

.list-object.profile > object {
  grid-area: 1/1/2/2;
}

.list-object.message > object {
  grid-area: 1/1/2/2;
}

.list-object.history > object {
  grid-area: 1/1/2/2;
}

.list-object.tasks > object {
  grid-area: 1/1/2/2;
}

.list-object.communities > object {
  grid-area: 1/1/2/2;
}

.list-object.settings > object {
  grid-area: 1/1/2/2;
}

.list-object.support > object {
  grid-area: 1/1/2/2;
}

.list-objec.privacy > object {
  grid-area: 1/1/2/2;
}

div.list-object.home > li {
  grid-area: 1/2/2/3;
}
.list-object.profile > li {
  grid-area: 1/2/2/3;
}

.list-object.message > li {
  grid-area: 1/2/2/3;
}

.list-object.history > li {
  grid-area: 1/2/2/3;
}

.list-object.tasks > li {
  grid-area: 1/2/2/3;
}

.list-object.communities > li {
  grid-area: 1/2/2/3;
}

.list-object.settings > li {
  grid-area: 1/2/2/3;
}

.list-object.support > li {
  grid-area: 1/2/2/3;
}

.list-object.privacy > li {
  grid-area: 2/2/2/3;
}
/*#endregion grid list */
