*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #aba9bc;
  color: #2d2c36;
  min-height: 100vh;
}

object {
  filter: invert();
}
.container {
  position: absolute;
  left: 10%;
  display: grid;
  grid-template: clamp(200px, 200px, 300px) 3fr / clamp(350px, 380px, 380px) clamp(
      1000px,
      1100px,
      1300px
    );
  max-height: 100vh;
}

/*#region header */
.header {
  background-color: #807eaa;
  box-shadow: 2px 5px 2px rgb(100, 100, 100);
  grid-area: 1/2/2/-1;
  display: grid;
  grid-template: 1fr 1fr/ 2fr 1fr;
  color: #f9f8ff;
}

.search-container {
  display: grid;
  grid-template: 1fr/0.1fr minmax(500px, 1fr);
  max-height: 100px;
  padding: 20px;
  align-self: center;
}
.search-container > input {
  max-height: 32px;
  border-radius: 20px;
  grid-area: 1/2/2/3;
  background-color: #aba9bc;
  border: none;
  padding-left: 10px;
}
.search-container > input:focus {
  outline: #7952b8 3px solid;
}
.search-container > object {
  max-width: 32px;
  grid-area: 1/1/2/2;
  justify-self: flex-end;
}

.user-profile-container {
  display: grid;
  grid-template: 1fr / 0.5fr 0.7fr 1fr;
  max-height: 100px;
  align-self: center;
  justify-self: center;
}
.user-profile-container > object {
  max-width: 32px;
  justify-self: center;
  align-self: center;
}
.user-profile-container > object:hover {
  animation: bell 2.5s ease-out infinite;
}
@keyframes bell {
  0% {
    transform: rotateZ(0);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75% {
    transform: rotateZ(30deg);
  }
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80% {
    transform: rotateZ(-30deg);
  }
}
.user-profile-container > img {
  border-radius: 50%;
  border: 2px solid #f9f8ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 64px;
  min-height: 64px;
  width: auto;
  height: auto;
  justify-self: center;
  align-self: center;
}
.user-profile-container > h3 {
  align-self: center;
  margin-left: 0;
}

.greeting-container {
  display: grid;
  height: 100px;
  grid-area: 2/1/3/2;
  grid-template: 1fr/1fr 2fr;
  justify-self: flex-start;
  margin-bottom: 10px;
}
.greeting-container > img {
  justify-self: flex-end;
  border-radius: 50%;
  border: 2px solid #f9f8ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 96px;
  min-height: 96px;
  width: min-content;
  height: auto;
  grid-area: 1/1/3/2;
  align-self: center;
  margin-right: 10px;
}
.greeting-container > p {
  font-weight: bold;
  margin: 0;
  max-height: 50px;
}
.greeting-container > h2 {
  margin: 0;
  min-height: 70px;
}
.user-actions-container {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);

  margin-right: 50px;
  justify-self: right;
  align-self: center;
}
.user-actions-container > button {
  border-radius: 20px;
  width: 100px;
  background-color: #d399d8;
  border: none;
  padding: 8px 5px;
  font-weight: bold;
  max-height: 32px;
  margin: 10px;
  text-align: center;
}
.user-actions-container > button:hover {
  box-shadow: 5px 2px 2px rgb(100, 100, 100);
  transform: scale(1.1);
  border: 2px solid #7952b8;
  background-color: #2d2c36;
  color: #f9f8ff;
}
/*#endregion header */
/*#region main */
.main-content {
  display: grid;
  grid-template: 1fr / clamp(800px, 800px, 1000px) minmax(300px, 350px);
  max-height: fit-content;
  grid-area: 2/2/-1/-1;
  gap: 20px;
}

.user-projects-container {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template: 1fr 4fr 4fr 4fr / repeat(2, clamp(400px, 400px, 750px));
}
.user-projects-container > h2 {
  grid-area: 1/1/2/-1;
  margin: 20px 0 0 20px;
}
.user-project {
  display: grid;
  grid-template: 1fr 3fr minmax(50px, 75px) / minmax(200px, 350px);
  max-height: 250px;
  max-width: fit-content;
  border-radius: 10px;
  border-left: 5px solid #7952b8;
  margin: 0px 20px 20px 20px;
  padding: 10px;
  background-color: #e9ebf8;
  box-shadow: 5px 2px 5px rgb(100, 100, 100);
}

.user-project > h3 {
  grid-area: 1/1/2/2;
  max-height: min-content;
  color: #7952b8;
  padding-bottom: 10px;
}
.user-project > p {
  grid-area: 2/1/3/2;
}
.user-interaction-container {
  grid-area: 3/1/4/2;
  display: grid;
  grid-template: 1fr / repeat(3, min-content);
  max-height: 32px;
  justify-self: end;
  margin-top: 10px;
  gap: 20px;
}
.user-interaction-container > object {
  max-width: 32px;
  filter: saturate();
}

.announcements-container {
  display: grid;
  grid-area: 1/2/3/3;
  grid-template: 1fr 6fr / minmax(250px, 350px);
  max-height: 500px;
  border-radius: 10px;
}

.announcements-container > h2 {
  margin: 20px 0 0 20px;
  max-height: 50px;
}
.announcements-container > div.announcements {
  background-color: #e9ebf8;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 20px 20px 20px;
  display: grid;
  grid-template: 1fr clamp(0.1fr, 0.1fr, 0.1fr) 1fr / minmax(250px, 300px);
  box-shadow: 5px 2px 5px rgb(100, 100, 100);
}
hr {
  background-color: red;
  max-height: 2px;
}

.announcement-object {
  display: grid;
  grid-template: clamp(225px, 250px, 1fr) minmax(1fr, 4fr) / minmax(275px, 300px);
}
.announcement-object > h3 {
  color: #7952b8;
}

.trending-container {
  display: grid;
  grid-template: 0.1fr 1fr/ 1fr;
  grid-area: 1/2/3/3;
  border-radius: 10px;
  max-height: 350px;
  margin-top: 500px;
}
.trending-container > h2 {
  margin: 0 0 0 20px;
  max-height: 50px;
}
.trending-users {
  background-color: #e9ebf8;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  padding: 10px;
  box-shadow: 5px 2px 5px rgb(100, 100, 100);
}
.trending-user {
  display: grid;
  grid-template: 1fr 1fr / 1fr 2fr;
  margin: 3px 0 3px 0;
}
.trending-user > img {
  border-radius: 50%;
  border: 2px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 48px;
  min-height: 48px;
  width: auto;
  height: auto;
  grid-area: 1/1/3/2;
  justify-self: center;
  align-self: center;
}
.trending-user > h4 {
  grid-area: 1/2/2/3;
  align-self: flex-end;
  margin: 0;
}
.trending-user > p {
  grid-area: 2/2/3/3;
  font-style: normal;
  margin: 0;
}

/*#endregion main */
/*#region sidebar */
.side-bar {
  grid-area: 1/1/-1/2;
  background-color: #7952b8;
  display: grid;
  grid-template: minmax(100px, 0.2fr) 1fr 4fr / 0.7fr 1.3fr;
  padding-top: 20px;
  color: #f9f8ff;
}

.side-bar_header {
  display: grid;
  grid-template: 1fr/1fr 2fr;
  grid-area: 1/1/2/3;
}
.side-bar > .side-bar_header > h1 {
  grid-area: 1/2/2/3;
  margin: 0;
  align-self: center;
}
.side-bar > .side-bar_header > object {
  max-width: 64px;
  justify-self: center;
  align-self: center;
}
.side-bar-list {
  padding-left: 40px;
  display: grid;
  list-style: none;
}

.side-bar-list.top {
  grid-template: repeat(6, 1fr) / 0.5fr 1fr;
  grid-area: 2/1/3/3;
  max-width: 225px;
  max-height: calc(40px * 6);
  margin: 15px 0 50px 10px;
}
.side-bar-list.bottom {
  grid-template: repeat(3, 1fr) / 0.5fr 1fr;
  grid-area: 3/1/4/3;
  max-width: 225px;
  max-height: calc(40px * 3);
  margin-left: 10px;
}
.side-bar > ul > div > object {
  max-width: 32px;
  grid-area: 2/1/-1/2;
}
.side-bar > ul > div > li {
  font-weight: bold;
  align-self: center;
}
/*#endregion sidebar */

/*#region grid list */
.list-object {
  display: grid;
  grid-template: 1fr / 0.5fr 1fr;
  margin: 5px 2px 5px 2px;
  max-height: 40px;
  gap: 20px;
}

.list-object.home {
  grid-area: 1/1/2/3;
}
.list-object.home > object {
  grid-area: 1/1/2/2;
}
.list-object.home > li {
  grid-area: 1/2/2/3;
}

.list-object.profile {
  grid-area: 2/1/3/3;
}
.list-object.profile > object {
  grid-area: 1/1/2/2;
}
.list-object.profile > li {
  grid-area: 1/2/2/3;
}

.list-object.message {
  grid-area: 3/1/4/3;
}
.list-object.message > object {
  grid-area: 1/1/2/2;
}
.list-object.message > li {
  grid-area: 1/2/2/3;
}

.list-object.history {
  grid-area: 4/1/5/3;
}
.list-object.history > object {
  grid-area: 1/1/2/2;
}
.list-object.history > li {
  grid-area: 1/2/2/3;
}

.list-object.tasks {
  grid-area: 5/1/6/3;
}
.list-object.tasks > object {
  grid-area: 1/1/2/2;
}
.list-object.tasks > li {
  grid-area: 1/2/2/3;
}

.list-object.communities {
  grid-area: 6/1/7/3;
}
.list-object.communities > object {
  grid-area: 1/1/2/2;
}
.list-object.communities > li {
  grid-area: 1/2/2/3;
}

.list-object.settings {
  grid-area: 1/1/2/3;
}
.list-object.settings > object {
  grid-area: 1/1/2/2;
}
.list-object.settings > li {
  grid-area: 1/2/2/3;
}

.list-object.support {
  grid-area: 2/1/3/3;
}
.list-object.support > object {
  grid-area: 1/1/2/2;
}
.list-object.support > li {
  grid-area: 1/2/2/3;
}

.list-object.privacy {
  grid-area: 3/1/4/3;
}
.list-object.privacy > object {
  grid-area: 1/1/2/2;
}
.list-object.privacy > li {
  grid-area: 1/2/2/3;
}
/*#endregion grid list */
